node_modules

# build/cache
/dist/
/.direnv/
/coverage/
/test-results/
/playwright-report/
/logs/
*.log
.DS_Store

# local deployment files
/deploy/.env
/deploy/ansible/inventory.ini

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# TypeScript build cache
*.tsbuildinfo
